.tooltip{
	position:absolute;
	z-index:200;
	display:block;
	visibility:visible;
	padding:5px;
	font-size:1em;
	/*
	opacity:0;
	filter:alpha(opacity=0)
	*/
	
	&.in{
		opacity:.8;
		filter:alpha(opacity=80)
	}
	&.top{
		margin-top:-2px
	}
	&.right{
		margin-left:2px
	}
	&.bottom{
		margin-top:2px
	}
	&.left{
		margin-left:-2px
	}
	&.top .tooltip-arrow{
		bottom:0;
		left:50%;
		margin-left:-5px;
		border-left:5px solid transparent;
		border-right:5px solid transparent;
		border-top:5px solid #000;
	}
	&.left .tooltip-arrow{
		top:50%;
		right:0;
		margin-top:-5px;
		border-top:5px solid transparent;
		border-bottom:5px solid transparent;
		border-left:5px solid #000;
	}
	&.bottom .tooltip-arrow{
		top:0;
		left:50%;
		margin-left:-5px;
		border-left:5px solid transparent;
		border-right:5px solid transparent;
		border-bottom:5px solid #000;
	}
	&.right .tooltip-arrow{
		top:50%;
		left:0;
		margin-top:-5px;
		border-top:5px solid transparent;
		border-bottom:5px solid transparent;
		border-right:5px solid #000;
	}
	.tooltip-inner{
		max-width:240px;
		padding:1em 2em;
		color:#fff;
		text-align:center;
		text-decoration:none;
		background-color:#000;
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		border-radius:2px;
		font-size:1.2em;
		#site.ff(gr);
	}
	.tooltip-arrow{
		position:absolute;
		width:0;
		height:0;
	}
}
.btn {
	/*
	#fe.color(@c-hex-b);
	#fe.bg(@c-hex-w);
	#fe.underline(none);
	outline:1px @c-hex-b solid;
	*/
	@default-bg-color:#8f0f0f;
	
	transition:all @trans-speed ease;
	
	&:hover {
		
	}
	
	&:focus {
		
	}
	
	&:active {
		
	}
	
	&:visited {
		
	}
	
	/*
	&[data-state="normal"] {
		
	}
	&[data-state="hover"] { // desktop
		
	}
	&[data-state="clicked"] { // desktop
		
	}
	&[data-state="pressed"] { // touch
		
	}
	&[data-state="selected"] {
		
	}
	&[data-state="disabled"] {
		
	}
	*/
	
	
	&.inline {
		display:inline-block;
	}
	
	&.as-block {
		display:block;
		width:100%;
	}
	
	&.as-link {
		.cleardefault();
		display:inline-block;
		outline:none;
		padding:initial;
		#fe.underline(initial);
		#fe.color(inherit);
		#fe.bg(transparent);
		cursor:pointer;
		
		&:hover {
			#fe.underline();
			#fe.color(inherit);
			#fe.bg(transparent);
		}
	}
	
	&.as-button {
		display:inline-block;
		padding:0.5em 1em;
		#fe.underline(none);
		#fe.color(transparent);
		#fe.bg(@default-bg-color);
		cursor:pointer;
	}
	
	&.on-hover {
		
		&.ch-color {
			
			&.r2w {
				#fe.color(@default-bg-color);
				#fe.bg(transparent);
				
				&:hover {
					#fe.color(#ffffff);
					#fe.bg(@default-bg-color);
				}
			}
			
			&.w2r {
				#fe.color(transparent);
				#fe.bg(@default-bg-color);
				
				&:hover {
					#fe.color(#ffffff);
					#fe.bg(transparent);
				}
			}
			
		}
		
	}
	
	
	/*
	&.mod {
		& {
			
		}
	}
	
	@media @media-size-xs {
		& {
			
		}
	}
	@media @media-size-sm {
		& {
			
		}
	}
	@media @media-size-md {
		& {
			
		}
	}
	@media @media-size-lg {
		& {
			
		}
	}
	@media @media-size-portrait {
		& {
			
		}
	}
	@media @media-size-landscape {
		& {
			
		}
	}
	@media @media-size-retina {
		& {
			
		}
	}
	@media @media-size-print {
		& {
			
		}
	}
	*/
}
.fecss-anim {
	transition:all @trans-speed ease;
	transform-origin:center center;
	
	&:hover {
	
	}
	
	&[data-anim-type="hover-scale-plus"] {
		display:inline-block;
		transition:transform 0.5s ease;
		
		&:hover {
			transform:scale(1.15);
		}
		
	}
	
	&[data-anim-type="hover-scale-minus"] {
		display:inline-block;
		transition:transform 0.5s ease;
		
		&:hover {
			transform:scale(0.85);
		}
		
	}
	
	&[data-anim-type="hover-outline-offset"] {
		outline:1px #ff0000 solid;
		outline-offset:initial;
		transition:outline-offset 0.5s ease;
		
		&:hover {
			outline-offset:1em;
		}
		
	}
}
.fecss-jssearch {
	display:inline-block;
	outline:1px #ffff00 solid;
	outline-offset:2px;
	#fe.bg(#ffff00);
}
	.go-to-top {
		position:fixed;
		opacity:0;
		z-index:-1;
		bottom:120%;
		right:10%;
		content:'';
		display:inline-block;
		width:1px;
		height:1px;
		#fe.brep();
		#fe.bpos();
		#fe.bi('go-to-top.png');
		text-decoration:none;
		
		transition:all 0.999s ease;
		
		&.active {
			width:65px;
			height:65px;
			bottom:10%;
			opacity:1;
			z-index:15;
			
			&:hover {
				transform:scale(1.2);
			}
		}
	}
.page-container {
	.mp0();
	
	@media @media-size-xs {
		padding-left:15px;
		padding-right:15px;
	}
	
	@media @media-size-sm {
		padding-left:25px;
		padding-right:25px;
	}
}
.full-screen.page-loader {
	@dark-el-color-bg:rgba(0,0,0,0.75);
	@dark-el-color-font:#ffffff;
	
	@semi-dark-el-color-bg:rgba(0,0,0,0.4);
	@semi-dark-el-color-font:#ffffff;
	
	transition: all @trans-speed ease;
	
	opacity:0;
	//height: 0%;
	
	&.white-loader {
		#fe.bg(#ffffff);
	}
	
	&.active {
		opacity:1;
		//height: 100%;
	}
}
.bg-video {
	position:absolute;
	#fe.z(1);
	
	&[data-orientation="l"] {
		left:0;
		#fe.w(100%);
	}
	&[data-orientation="p"] {
		top:0;
		#fe.h(100%);
	}
}
@keyframes central-title-arrow-left {
	0% {
		right:100%;
	}
	50% {
		right:105%;
	}
	100% {
		right:100%;
	}
}
@keyframes central-title-arrow-right {
	0% {
		left:100%;
	}
	50% {
		left:105%;
	}
	100% {
		left:100%;
	}
}

.central-title {
	display:inline-block;
	position:relative;
	#fe.w(160px);
	#fe.ff(HelveticaNeueCyr);
	#fe.size(19px);
	#fe.bold(500);
	#fe.color(#ffffff);
	
	&:before, &:after {
		content:'';
		position:absolute;
		top:0;
		
		animation-duration: @trans-speed * 2.5;
		//animation-fill-mode: both;
		animation-iteration-count: infinite;
		
		#fe.w(50%);
		#fe.h(100%);
		#fe.brep();
	}
	
	&:before {
		right:100%;
		animation-name: central-title-arrow-left;
		#fe.bpos(right center);
		#site.bi('index/central-title-left.png');
	}
	&:after {
		left:100%;
		animation-name: central-title-arrow-right;
		#fe.bpos(left center);
		#site.bi('index/central-title-right.png');
	}
	
	.select, .energy {
		display:inline-block;
		text-align:center;
		#fe.w(100%);
		#fe.color(#ffffff);
	}
	.energy {
		#fe.size(26px);
		#fe.uppercase();
	}
	
}
.site-link {
	@colored : rgba(255, 112, 0, 0.2);
	
	position:relative;
	display:inline-block;
	border-radius:50%;
	//#fe.bg(rgba(0,0,0,0.5));
	#fe.w(585px);
	#fe.h(585px);
	
	&:before,&:after {
		content:'';
		position:absolute;
		border-radius:50%;
		opacity:0;
		#fe.z(0);
		#fe.bg(@colored);
	}
	
	&:before {
		left:7%;
		top:7%;
		transition:all @trans-speed / 2.5 ease;
		box-shadow: 0px 0px 20.8px 11.2px rgba(0,0,0,0.15);
		#fe.w(86%);
		#fe.h(86%);
	}
	&:after {
		#fe.w(100%);
		#fe.h(100%);
		transition:all @trans-speed / 1 ease;
	}
	
	.circle {
		position:absolute;
		border-radius:50%;
		left:13%;
		top:13%;
		transition:all @trans-speed / 1.33333333 ease;
		box-shadow: none;
		#fe.w(74%);
		#fe.h(74%);
		#fe.bg(transparent);
		#fe.bpos();
		#fe.brep();
		//#fe.bsize(contain);
	}
	
	&[data-logo="fe"] .circle {
		#site.bi('index/fe-logo.png');
	}
	&[data-logo="ce"] .circle {
		#site.bi('index/ce-logo.png');
	}
	
	&:hover {
		.circle {
			#fe.bg(@colored);
			box-shadow: 0px 0px 13.44px 10.56px rgba(0,0,0,0.15);
		}
	}
	
	.page-container[data-state="1"] &:first-child {
		&:before,&:after {
			opacity:1;
		}
	}
	.page-container[data-state="2"] &:last-child {
		&:before,&:after {
			opacity:1;
		}
	}
	.page-container[data-state="0"] & {
		&:before,&:after {
			opacity:1;
		}
	}
}
body {
	
	&[class*='theme-'], *[class*='theme-'] {
		
		
		&.theme-dev {
			
			@dbg-dline-w:2px;
			@dbg-sline-w:1px;
			@dbg-hover-sline-w:5px;
			
			outline: @dbg-dline-w dotted red;
			#fe.bi('chess-bg.png');
			
			* {
				outline:@dbg-dline-w dotted green;
				
				&:hover {
					outline:@dbg-hover-sline-w solid black;
				}
				
				& * {
					outline:@dbg-dline-w dotted orange;
					
					& * {
						outline:@dbg-dline-w dotted blue;
						
						& * {
							outline:@dbg-sline-w solid red;
							
							& * {
								outline:@dbg-sline-w solid green;
								
								& * {
									outline:@dbg-sline-w solid orange;
									
									& * {
										outline:@dbg-sline-w solid blue;
									}
								}
							}
						}
					}
				}
			}
			
		}
		
		&.theme-b0w {
			#fe.color(#000000);
			#fe.bg(#ffffff);
			//#fe.ff('gost_b');
			#fe.ff('Open Sans');
			//font-family: 'gost_b', 'Open Sans', 'Roboto', Arial, Verdana, Georgia, Tahoma, sans-serif, 'gost_a';
		}
		
		&.theme-w0b {
			#fe.color(#ffffff);
			#fe.bg(#000000);
		}
		
	}
	
	
	&, &[data-state="default"] {
		
	}
	
	
	
	&, &[data-fecss-modal="no-modal"] {
		
	}
	
	
	
	&, &[data-context="container"], & *[data-context="container"] {
		
	}
	&[data-context="design"], & *[data-context="design"] {
		
	}
	&[data-context="title"], & *[data-context="title"] {
		
	}
	&[data-context="text"], & *[data-context="text"] {
		
	}
	&[data-context="image"], & *[data-context="image"] {
		
	}
	&[data-context="menu"], & *[data-context="menu"] {
		
	}
	
	
	
	&.is-mainpage {
		
	}
	
}

html, body, .page-container {
	#fe.h(100%);
}
.page-container {
	position:relative;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
	flex-wrap:wrap;
	#fe.z(2);
}
body {
	position:relative;
	overflow:hidden;
}